<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>ETF Tracking</title>
    
    <!--- Libs Jquery -->
    <script type="text/javascript" src="../static/vendor/modernizr-2.8.3.min.js" th:src="@{/vendor/modernizr-2.8.3.min.js}"></script>   
    <script src="../static/vendor/jquery-1.12.4.js" th:src="@{/vendor/jquery-1.12.4.js}"></script>
    <script src="../static/vendor/jqueryui-1.12.1.js" th:src="@{/vendor/jqueryui-1.12.1.js}"></script>
    
    <!--- Libs Semantic -->
    <script src="../static/semantic/dist/semantic.min.js" th:src="@{/semantic/dist/semantic.min.js}"></script> 
    
    <!--- Libs Datatables -->
    <script type="text/javascript" src="../static/datatables/js/datatables-1.10.15.js" th:src="@{/datatables/js/datatables-1.10.15.js}"></script>
    <script type="text/javascript" src="../static/datatables/js/datatables-1.10.15.semanticui.min.js" th:src="@{/datatables/js/datatables-1.10.15.semanticui.min.js}"></script>
    
    <!--- Libs Components -->
    
    <!--- CSS Semantic -->
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.css" th:href="@{semantic/dist/semantic.css}" media="screen" />

    <!--- CSS Datatables -->
    <link rel="stylesheet" type="text/css" href="../static/datatables/css/datatables-1.10.15.css" th:href="@{/datatables/css/datatables-1.10.15.css}" media="screen" />
    <link rel="stylesheet" type="text/css" href="../static/datatables/css/datatables-1.10.15.semanticui.min.css" th:href="@{/datatables/css/datatables-1.10.15.semanticui.min.css}" media="screen" />
    
    <!--- CSS Components -->
    <style>
        body {
            padding: 1em;
        }
        .spaced > .button {
            margin-bottom: 1em;
        }
    </style>

    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }
        .main.container {
            margin-top: 7em;
        }
        .wireframe {
            margin-top: 2em;
        }
        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>        
        
</head>

<body>

    <nav class="ui fixed menu inverted navbar">
        <a href="" class="brand item">Project Name</a>
        <a href="" class="active item">Home</a>
        <a href="" class="item">Features</a>
        <a href="" class="item">Contact</a>
    </nav> <!-- end nav -->

    <div class="ui main container">
    
    
        <h1 th:text="${knowdoc.title}">Document title</h1>
        <br/>
        
        <p th:utext="${knowdoc.body}">document body</p>
        <br/>

    </div>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
            var know_doc = [[${know_doc}]];
        /*]]>*/
    </script>
    
    <script type="text/javascript">
    
        $(document).ready(function() {
            $('#example').DataTable( {
                 "scrollY":        "400px",
                "scrollCollapse": true,
                "pageLength":        100,
                "paging":         true
             } );
        } );

    </script>

</body>

</html>

