<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>ETF Tracking</title>
    
    <!--- Libs Jquery -->
    <script type="text/javascript" src="../static/vendor/modernizr-2.8.3.min.js" th:src="@{/vendor/modernizr-2.8.3.min.js}"></script>   
    <script src="../static/vendor/jquery-1.12.4.js" th:src="@{/vendor/jquery-1.12.4.js}"></script>
    <script src="../static/vendor/jqueryui-1.12.1.js" th:src="@{/vendor/jqueryui-1.12.1.js}"></script>
    
    <!--- Libs Semantic -->
    <script src="../static/semantic/dist/semantic.min.js" th:src="@{/semantic/dist/semantic.min.js}"></script> 
    
    <!--- Libs Datatables -->
    <script type="text/javascript" src="../static/datatables/js/datatables-1.10.15.js" th:src="@{/datatables/js/datatables-1.10.15.js}"></script>
    <script type="text/javascript" src="../static/datatables/js/datatables-1.10.15.semanticui.min.js" th:src="@{/datatables/js/datatables-1.10.15.semanticui.min.js}"></script>
    
    <!--- Libs Components -->
    
    <!--- CSS Semantic -->
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.css" th:href="@{semantic/dist/semantic.css}" media="screen" />

    <!--- CSS Datatables -->
    <link rel="stylesheet" type="text/css" href="../static/datatables/css/datatables-1.10.15.css" th:href="@{/datatables/css/datatables-1.10.15.css}" media="screen" />
    <link rel="stylesheet" type="text/css" href="../static/datatables/css/datatables-1.10.15.semanticui.min.css" th:href="@{/datatables/css/datatables-1.10.15.semanticui.min.css}" media="screen" />
    
    <!--- CSS Components -->
    <style>
        body {
            padding: 1em;
        }
        .spaced > .button {
            margin-bottom: 1em;
        }
    </style>

    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }
        .main.container {
            margin-top: 7em;
        }
        .wireframe {
            margin-top: 2em;
        }
        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>        
        
</head>

<body>

    <nav class="ui fixed menu inverted navbar">
        <a href="" class="brand item">Project Name</a>
        <a href="" class="active item">Home</a>
        <a href="" class="item">Features</a>
        <a href="" class="item">Contact</a>
    </nav> <!-- end nav -->

    <div class="ui main container">
    
        <div id="banner">    
             <h1 th:text="${pagetitle}">Categories of ETFs</h1>
        </div>

        <br/>

        <table id="example" class="ui small striped celled table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Type</th>
                    <th>Sub Type</th>
                    <th>Factor</th>
                    <th>YTD</th>
                    <th>1 Day</th>
                    <th>1 Week</th>
                    <th>2 Weeks</th>
                    <th>4 Weeks</th>
                    <th>3 Months</th>
                    <th>1 Year</th>
                    <th>Number</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="summ_model,iterStat:${summ_model}">
                    <!--  <td th:text="${summ_model.fundType}">AAAAX</td> -->
                    <td>
                        <a target="_blank" th:href="@{/mf-list-class(class=${summ_model.assetClassEncoded})}" th:text="${summ_model.assetClass}">  AAAAX </a>
                    </td>
                    <td>
                        <a target="_blank" th:href="@{/mf-list-class-type(class=${summ_model.assetClassEncoded},type=${summ_model.fundTypeEncoded})}" th:text="${summ_model.fundType}">  AAAAX </a>
                    </td>
                    <td>
                        <a target="_blank" th:href="@{/mf-list-class-type-sub(class=${summ_model.assetClassEncoded},type=${summ_model.fundTypeEncoded},sub=${summ_model.fundSubTypeEncoded})}" th:text="${summ_model.fundSubType}">  AAAAX </a>
                    </td>
                    <td>
                        <a target="_blank" th:href="@{/mf-list-summary-factors-class(class=${summ_model.assetClassEncoded},factor=${summ_model.factorEncoded})}" th:text="${summ_model.factor}">  AAAAX </a>
                    </td>
                    <td th:text="${summ_model.ytd}">0.11</td>
                    <td th:text="${summ_model.oneDay}">0.11</td>
                    <td th:text="${summ_model.oneWeek}">0.75</td>
                    <td th:text="${summ_model.twoWeeks}">0.22</td>
                    <td th:text="${summ_model.fourWeeks}">-0.21</td>
                    <td th:text="${summ_model.threeMonths}">0.43</td>
                    <td th:text="${summ_model.oneYear}">1.09</td>
                    <td th:text="${summ_model.count}">10</td>
                </tr>
                <tr th:remove="all">
                    <td><a  href="http://localhost:8080/" target="_blank">Asset Class</a></td>
                    <td><a  href="http://localhost:8080/" target="_blank">Fund Type</a></td>
                    <td><a  href="http://localhost:8080/" target="_blank">Fund Sub Type</a></td>
                    <td><a  href="http://localhost:8080/" target="_blank">Factor</a></td>
                    <td>0.01</td>
                    <td>0.11</td>
                    <td>0.75</td>
                    <td>0.22</td>
                    <td>-0.21</td>
                    <td>0.43</td>
                    <td>1.09</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
            var summ_model = [[${summ_model}]];
        /*]]>*/
    </script>
    
    <script type="text/javascript">
    
        $(document).ready(function() {
            $('#example').DataTable( {
                 "scrollY":        "400px",
                "scrollCollapse": true,
                "pageLength":        100,
                "paging":         true
             } );
        } );

    </script>

</body>

</html>

